.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6CB4EE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F5F5F5;
}

.App-link {
  color: #61dafb;
}

.Title{
  color: white;
  margin-bottom: none;
  padding-bottom: none;
  font-size: 40px;
}

.weight{
  padding-top: -100px;
  margin-top: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: white;
}

.height{
  padding-top: -100px;
  padding-bottom: -50px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: white;
}

.gender{
  padding-top: -100px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: white;
}

.diet{
  padding-top: -100px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: white;
}

.budget{
  padding-top: -100px;
  margin-bottom: 20px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: white;
}

.recommendations{
  margin-top: 20px;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
